# Created by .ignore support plugin (hsz.mobi)
.gitignore


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
target/
##----------Other----------
# osx
*~
.DS_Store
gradle.properties

.vscode

*.log








